@import "reset";
@import "common";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  padding-top: 100px;
  line-height: 1.2;
  @include theme(color, text);
  @include theme(background-color, mainBg);
}

pre {
  white-space: pre-wrap;
}

b {
  font-weight: bold;
}

.input {
  outline: none;
  padding: 10px;
  border: 1px solid;
  border-radius: 4px;
  font-size: 16px;

  @include theme(color, inputText);
  @include theme(background-color, inputBg);
  @include theme(border-color, inputBorderColor);

  &__error {
    border-color: #cc3a3a !important;
  }
}

.error {
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translate(-50%,-50%);
  color: #cc3a3a;
  margin-top: 20px;
  border: 1px solid;
  padding: 20px;
  background: #fff;
  min-width: 200px;
}