@import '../../styles/common';

.container {

  &__btn-counter {
    display: flex;
  }
}
.button {
  &__action {

    &-plus {
      border-left: unset;
      border-radius: 0 20px 20px 0;
    }
    &-minus {
      border-right: unset;
      border-radius: 20px 0 0 20px;
    }
  }
}

.input {
  &__wrap {
    display: flex;
    align-items: center;
    border-bottom: 2px solid;
    border-top: 2px solid;
    padding: 5px;

    @include theme(border-color, borderColor);
  }
  &__to-cart {
    width: 50px;
    height: 20px;
    text-align: center;
    padding: 5px 0;
    border-radius: unset;
  }
}