.range-slider {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  user-select: none;

  &__container {
    width: 100%;//500px;
    height: 10px;
    border: 1px solid #dadada;
    position: relative;
    cursor: pointer;
    box-shadow: inset 2px 2px 5px 0 rgba(187, 187, 187, 0.3);
    margin: 10px 20px;
  }

  &__control {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 20px;
    height: 20px;
    border-radius: 3px;
    background-color: #007bff;
    transform: translate(-50%, -50%);
    color: #ffffff;
    padding: 0 3px;
    font-size: 12px;
    font-weight: bold;
  }
  &__progress-line {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #5fa6ff;
  }
}